@using ResturantManagementSystem.ViewModels
@section Title {
Chefs
}
@section SubTitle {
Create
}

@model ChefCreateVM
<section class="pt-2">
    <form asp-controller="Chefs" asp-action="Create">
        <div class="form-group">
            <label asp-for="Email"></label>
            <input type="text" class="form-control" asp-for="Email" maxlength="auto" />
            <span asp-validation-for="Email" class="text-danger text-sm mt-1 ms-1"></span>
        </div>

        <div class="form-group">
            <label asp-for="Salary"></label>
            <input type="number" class="form-control" asp-for="Salary" maxlength="auto" />
            <span asp-validation-for="Salary" class="text-danger text-sm mt-1 ms-1"></span>
        </div>

        <button type="submit" class="btn btn-primary mt-2">
            Add
        </button>
    </form>
</section>